
body {
    height: $wrappe-H-bodyM;
    background-color: $c-darkerPurple;
  }
  
  .body-first-child {
    height: $wrapper-H-Xxl;
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .body-second-child {
    position: absolute;
    width: 99%;
    height: $wrapper-H-xl;
    top: 0;
    left: 0;
    
  }
  .pos-fixed {
    width: 99%;
    height: $wrapper-H-xxl;
    position: fixed;
  }
  
  .header {
    position: absolute;
  }
  
  /* style ogolne */
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  button {
    color: $c-white     ;
    padding:$space-xx-small $space-standard;
    background: -webkit-gradient(
      linear,
      right top,
      left top,
      from($c-pink),
      to($c-pink2 )
    );
    background: -o-linear-gradient(right, $c-pink, $c-pink2);
    background: linear-gradient(to left, $c-pink, $c-pink2);
    border: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: $space-xxx-large;
    cursor: pointer;
  }
  button:hover {
    color: $c-black;
  }
  
  h2,
  h1,
  span,
  p,
  li,
  a,
  button {
    font-family: "Monsterart", sans-serif;
    font-weight: 500;
    font-size: pxToRem(16);
    color: $c-black;
    text-decoration: none;
  }


.img {
    position: absolute;
    top: 20%;
    right: 90%;
    z-index: 0;
    rotate: 20deg;
  }

  p span {
    color: $c-pink2;
  }
  
  .upper_content-text div > p {
    font-size: pxToRem(100);
    font-weight: 350;
    color: $c-darkGrey-opacity;
  }
  
  h1 {
    font-size: pxToRem(20);
    margin-top: -$space-xx-large;
    font-weight: 300;
  }
  
  h1 span {
    color: $c-pink2;
    font-size: pxToRem(20);
  }
  
  h2 {
    font-weight: 700;
    font-size: pxToRem(35);
  }
  
  .Contact h2 {
    font-weight: 550;
    color: $c-pink2;
  }
  .Contact span {
    font-size: pxToRem(35);
    color: $c-black;
  }

  @media screen and (min-width: 0) and (max-width: $break-m) {
    body{ min-height: $wrapper-H-bodyXL}
    form{width: 60%;}
    
  }

  
  @media screen and (min-width:$break-m) and (max-width: $break-l) {
    body{ min-height:$wrapper-H-bodyL}
    form{width: 40%;}
    
  }  