@function pxToRem($pxsize,$rembase:16){
    @return ($pxsize/$rembase) +rem;
}

@mixin boxShadow($arg){
    -webkit-box-shadow: $arg ;
    box-shadow: $arg;
} 

@mixin myFlex() {
    $prefixes: (-webkit-box,-ms-flexbox,-webkit-flex,flex);
    @each $prefix in  $prefixes {
        display: $prefix;
    }

}