/*=colors */
$c-pink2:hsl(340, 64%, 56%);
$c-pink:palevioletred;
$c-pink3: rgb(255, 192, 203);
$c-lightGrey:lightgray;
$c-lightGrey2:#ededed;
$c-white:#fff;
$c-grey:grey;
$c-grey2:rgb(131, 130, 131);
$c-darkGrey-opacity:rgba(203, 203, 203, 0.379);
$c-black:#000000;
$c-darkPurple: rgb(51, 37, 52);
$c-darkerPurple: rgb(44, 33, 53);
$c-red: #ff0000;
$c-yellow:#ffff00;
$c-green: #00ff00;

/*=Paddings, Margins*/
$space-largeM: -30px;
$space-x-smallM: -10px;
$space-xxx-small:2px;
$space-xx-small: 5px;
$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-large: 30px;
$space-x-large: 40px;
$space-xx-large: 45px;
$space-xxx-large:50px;
$space-X-large:100px;
$space-XX-large:150px;

/*=breaks*/
$break-xs: 500px;
$break-s: 740px;
$break-m: 850px;
$break-l: 1349px;

/*grid*/
$wrapper-H-s: 75px;
$wrapper-W-s: 130px;
$wrapper-H-m: 200px;
$wrapper-H: 250px;
$wrapper-H-l: 500px;
$wrapper-H-xl: 700px;
$wrapper-H-xxl: 800px;
$wrapper-H-Xxl: 1200px;
$wrappe-H-bodyM: 2600px;
$wrapper-H-bodyL: 2700px;
$wrapper-H-bodyXL: 3000px;



