header {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
   @include myFlex();
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: $space-standard 15%;
    border-bottom: 1px solid $c-pink;
    background-color: $c-white;
  }
  .logo {
    cursor: pointer;
    padding-right: 10%;
  }
  .nav_logo {
    margin-left: auto;
  }
  .nav_links {
    list-style: none;
  }
  .nav_links li {
    display: inline-block;
    padding: 0 $space-x-small;
    margin: $space-xx-small;
  }
  .nav_links li a {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    color: $c-grey2;
  
  }
  .nav_links li a:hover {
    background: -webkit-gradient(
      linear,
      right top,
      left top,
      from($c-pink),
      to($c-pink2)
    );
    background: -o-linear-gradient(right, $c-pink, $c-pink2);
    background: linear-gradient(to left, $c-pink, $c-pink2);
    color: $c-white;
    padding: $space-xx-small $space-small;
    border: none;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    border-radius: $space-xxx-large;
    cursor: pointer;
  }
  .nav_logo img {
    padding: 0 $space-small;
  }

  @media screen and (min-width: $break-xs) and (max-width: $break-s){
    .nav_linksH {
      padding-right: 31%;
    }
    .nav_logo {
      padding-left: 30%;
    }
    .nav_linksH li {
      
      Width: $wrapper-W-s;
    }
  }