.down_content {
    background-color: $c-lightGrey2;
    min-height: $wrapper-H-xl;
    padding-top: $space-X-large;
    border-bottom-left-radius: 90% 60%;
    border-bottom-right-radius: 90% 60%;
  }
  
  .line {
    height: $wrapper-W-s;
    width: 100%;
    border: solid $c-pink;
    border-top-right-radius: 100% 100%;
    border-top-left-radius: 100% 100%;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    @include myFlex();
    padding-top: $space-standard;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .sub_container {
    @include myFlex();
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .sub_menu li {
    margin: $space-standard;
    display: inline-block;
  }
  
  .projects_container {
    padding-top: $space-large;
    min-height: 20vh;
    @include myFlex();
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .projects_wrapper {
    width: 65%;
    margin: 0 auto;
    @include myFlex();
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-flow: row-reverse wrap;
    flex-flow: row-reverse wrap;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 2%;
  }
  
  .column2{
    padding-bottom: $space-large;
  }
  
  .projects-pictures {
    @include myFlex();
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: $space-xxx-small;
    border-radius: $space-x-small;
    background-color:$c-grey;
    max-height: $wrapper-H;
    min-width: 32%;
    -ms-flex-preferred-size: $wrapper-H;
    flex-basis: $wrapper-H;
  }
  
  .projects-pictures img {
    border-radius: $space-x-small;
    min-height: $wrapper-H-m;
  }
  
  
  @media screen and (min-width: 0) and (max-width: $break-m) {
    .projects_wrapper{
      align-items: center;
      justify-content: center;
      width: 51%;
    }
  }
  
  
  @media screen and (min-width:$break-m) and (max-width: $break-l) {
    .projects_wrapper{
      justify-content: center;
      width: 70%;
    }
  }  
  
  
  