.content_center-wrapper {
  background-color: $c-lightGrey2;
}
.center_content {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  @include myFlex();
  height: $wrapper-H-l;
  border-bottom-left-radius: 90% 60%;
  border-bottom-right-radius: 90% 60%;
  background-color: $c-white;
}

.content_center-backgroundImg {
  margin-top: $wrapper-H-l;
  display: block;
  position: relative;
  transition: 3s all;
  overflow: hidden;
  border-collapse: collapse;
  max-height: 0;
  width: 50%;
  border-radius: $space-standard;
  border-bottom-left-radius: 60% $space-large;
  border-bottom-right-radius: 60% $space-large;
  background-color: $c-white;
  @include myFlex();
  @include boxShadow(0 $space-x-smallM $space-standard $c-lightGrey)
  


}

.content_center-backgroundImgAnimate{
  margin-top: 0;
  display: block;
  position: relative;
  transition: 3s all;
  overflow: hidden;
  border-collapse: collapse;
  max-height: $wrapper-H-l;
  width: 50%;
  border-radius: $space-standard;
  border-bottom-left-radius: 60% $space-large;
  border-bottom-right-radius: 60% $space-large;
  background-color: $c-white;
  @include myFlex();
  @include boxShadow(0 $space-x-smallM $space-standard $c-lightGrey)
  
}

.upper_bar {
  position: absolute;
  border-radius: $space-small $space-small 0 0;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from($c-pink),
    to($c-pink2)
  );
  background: -o-linear-gradient(right, $c-pink, $c-pink2);
  background: linear-gradient(to left, $c-pink, $c-pink2);
  
  width: 100%;
  height: $space-large;
  top: 0;
  left: 0;
}
.dot-red {
  border-radius: 50%;
  width: $space-x-small;
  height: $space-x-small;
  background-color: $c-red;
  float: left;
  margin: $space-x-small $space-xx-small $space-x-small $space-standard;
}
.dot-yellow {
  border-radius: 50%;
  width: $space-x-small;
  height: $space-x-small;
  background-color: $c-yellow;
  float: left;
  margin: $space-x-small $space-xx-small $space-x-small $space-x-small;
}
.dot-green {
  border-radius: 50%;
  width: $space-x-small;
  height: $space-x-small;
  background-color: $c-green;
  float: left;
  margin: $space-x-small $space-xx-small $space-x-small $space-x-small;
}
.upper_bar p {
  color: $c-white;
  float: right;
  padding: $space-xx-small $space-large $space-xx-small;
}

.content_center-backgroundImg_downTxt {
  padding: $space-large 5%;
  width: 100%;
}

.content_downTxt-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.About {
  padding-top: 3%;
  @include myFlex();
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.About span {
  font-size: pxToRem(20);
  font-weight: 600;
}
.About p {
  color: $c-grey;
  font-size: pxToRem(20);
}
.leftSide p span,
.leftSide p {
  font-size: pxToRem(15);
}
.rightSide p span,
.rightSide p {
  font-size: pxToRem(15);
}

.contnet-wrapper {
  @include myFlex();
  padding: 5% 0 0 5%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.leftSide {
  width: 50%;
  font-size: pxToRem(15);
}

.pre {
  font-size: pxToRem(10);
  color: $c-pink;
}

.pre span {
  color: $c-grey2;
  font-size: pxToRem(20);
}
.rightSide {
  width: 50%;
}

.Skills {
  @include myFlex();
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding-left: $space-x-small;
}
.flex-product__wrapper {
  @include myFlex();
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: $space-xx-small;
  border-radius: $space-xx-small;
  background-color: $c-lightGrey;
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
  width: 10%;
  min-width: $space-large;
}
.flex-product__wrapper:nth-child(2n) {
  background-color: transparent;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.flex-content__wrapper {
  width: 100%;
  margin: 0 auto;
  @include myFlex();
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-flow: row-reverse;
  flex-flow: row-reverse;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-direction: row;
  flex-direction: row;
}

.Skills-bar {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from($c-pink),
    to($c-pink2)
  );
  background: -o-linear-gradient(right, $c-pink, $c-pink2);
  background: linear-gradient(to left, $c-pink, $c-pink2);
  border-radius: $space-xx-small;
  height: $space-standard;
}
.Skills-bar p {
  font-weight: 400;
  font-size: pxToRem(10);
  color: $c-white;
  margin: $space-xxx-small;
}
.html {
  width: 90%;
}
.css {
  width: 80%;
}
.js {
  width: 60%;
}

@media screen and (min-width: 0) and (max-width: $break-m) {
  .leftSide{display: none}
  .rightSide{width: 100%} 
  .contener { width: 48%}
  .content_center-backgroundImg{
    width: 65%;
    border-bottom-left-radius: 61% 61px;
    border-bottom-right-radius: 60% 61px;
  }
  
}
