/* style main_section */

main {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    @include myFlex();
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  /* style upper content (first page) */
  
  .one {
    height: $space-x-large;
    top: 15%;
    left: 60%;
  }
  .two {
    top: 48%;
    left: 40%;
    height: $space-large;
    rotate: 50deg;
  }
  .three {
    height: $space-x-large;
    rotate: 90deg;
    top: 42%;
    right: 10%;
  }
  
  .upper_content {
    width: 100%;
    @include myFlex();
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: $wrapper-H-l;
    padding: $space-XX-large 0 $space-XX-large 0;
    background-color: $c-white;
  }
  
  .upper_content-text {
    margin: $space-standard 15%;
  }
  
  .upper_content-buttons {
    margin: $space-standard 10% 0 0;
    @include myFlex();
  }
  
  .MyProj {
    color: $c-pink;
    padding: $space-xx-small $space-standard;
    font-weight: 550;
    margin-right: 5%;
    border: 1px solid $c-pink;
    border-radius: $space-xxx-large;
    cursor: pointer;
    transition: all 1.5s ease-in 0s;
  }
  
  .MoreAbout {
    color: $c-pink;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: $space-xxx-large;
    cursor: pointer;
    margin-top: 3%;
  }
  .MoreAbout:hover {
    color: $c-black;
  }
  
  .photo_background {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from($c-pink),
      to($c-pink2)
    );
    background: -o-linear-gradient(left, $c-pink, $c-pink2);
    background: linear-gradient(to right, $c-pink, $c-pink2);
    border-radius: $space-XX-large 0 0 $space-XX-large;
    margin-left: auto;
    height: $wrapper-H-m;
    width: 40%;
    position: relative;
  }
  
  .facefoto {
    position: absolute;
    height: 260px;
    width: 260px;
    margin: -$space-small 0 0 $space-largeM;
    top: $space-xxx-small;
    left: 0;
  }
  
  @media screen and (min-width: 0) and (max-width: $break-m) {
    img#optionalstuff { display:none }
    .photo_background{ display:none }
    
  }
